<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <div class="user-stories">
          <h3>How it works</h3>
          <ol>
            <li>You can POST a URL and receive a shortened URL.</li>
            <li>You must pass a valid URL that follows the <code>http(s)://www.example.com</code> format.</li>
            <li>When you visit the shortened URL, it will redirect you to your original link.</li>
          </ol>
        </div>
        
        <h3>Short URL Creation </h3>
        <form class="form-inline" action="api/shorturl/new" method="POST">
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
          <input type="submit" value="POST URL">
        </form>
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/utkarshnag">Utkarsh Nag</a>
        </p>
      </div>
   </body>

</html>